<launch>
    <arg name="lighthouse" default="0xA02500497E5163DbC049453509Fae8C9825cf18e" />
    <arg name="token" default="0x7dE91B204C1C737bcEe6F000AAA6569Cf7061cb7" />

    <node name="offer_node" pkg="drone_flight_report" type="offer_node" output="screen">
        <param name="model" value="QmXi1UDYqcaV2QapKhoAtVJNSEnJtP2M21p5YgR5PzYFQp" />
        <param name="token" value="$(arg token)" />
        <param name="lighthouse" value="$(arg lighthouse)" />
        <param name="order_lifetime" value="100" />
   </node>

    <node name="registrator" pkg="drone_flight_report" type="registrator_node" output="screen">
    </node>
</launch>

